.container {
  display: flex;
}

.red {
  background: orangered;
  display: flex;
  /*Направление, в котором блоки будут располагаться вертикально*/
  flex-direction: column;
}

.green {
  background: yellowgreen;
}

.blue {
  background: steelblue;
}

.container div {
  font-size: 5vw;
  padding: 0.5em;
  color: white;
  flex: 1;
}
