.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .title {
    color: var(--colors-text);
    font-weight: var(--fw-normal);
  }

  .theme {
    display: flex;
    gap: 8px;

    user-select: none;
    cursor: pointer;
  }
}
