.search {
  span {
    background-color: var(--background) !important;
    color: var(--color) !important;

    input,
    button {
      background-color: var(--background) !important;
      color: var(--color) !important;

      &::placeholder {
        color: var(--color);
      }
    }
  }
}
