a {
    color: black;
    text-decoration: none;
}
a:hover {
      color: red;
}
a:visited {
   color: aqua;
}
  
a:active {
    color: green;
}
  
a:focus {
    font-weight: bold;
}
  
p::first-letter {
    font-size: 40px;
}
  
p::first-line {
    text-decoration: underline;
}
p::selection {
   background-color: yellow;
   color: red;
   font-size: 40px;
}
  
h1::before {
    content: "This is ";
    text-transform: uppercase;
}
  h1::after {
    content: " channel";
    color: red;
}
  
.list1 li:first-child {
    color: blue;
}
.list1 li:last-child {
  color: green;
}
  

.list2 li:nth-child(even) {
    color: blue;
}
.list2 li:nth-child(odd) {
    color: green;
}
.list3 li:nth-child(2) {
    color: blue;
}
list3 li:nth-child(3) {
    color: green;
}
  
.list3 li:nth-child(3n + 1) {
    text-transform: uppercase;
}
.list3 li:nth-child(4n + 2) {
    border: 1px solid black;
}
  
.text span:first-of-type {
    color: red;
}
.text span:last-of-type {
    color: green;
}
.text span:nth-of-type(2) {
 border: 1px solid black;
}
  
.list4 li:not(.item) {
    border: 1px solid blue;
  }
  
/* Selectors test
  li 							        ===> 1 (элемент)
  #main .item					        ===> 110 (id+class)
  h1 + *[href="test"] 		            ===> 11 (селектор и класс)
  #test p 					            ===> 101 (id+элемент)
  li.item.main				            ===> 21 (1 селектора 2 класса)
  #test						            ===> 100 (id)
  ul ol li.item				            ===> 13 (3 селектора и 1 класс)
  ul li						            ===> 2 (селектора)
  #test:not(.main)			            ===> 101 (id+селектор)
  ul ol+li 					            ===> 3 (элемент + селектор соседний)
  a:hover					            ===> 11 (элемент + псевдокласс)
  p:first-line				            ===> 2 (селектор атрибута оба имеют значения 1)
  h2 strong					            ===> 2 (селектор потомок или контексный селектор по 1)
  span.test ul li				        ===> 13 (test - 10, span, ul, li) - обычные селектора)
*/