:root {
  --family: "Nunito Sans", sans-serif;
  --fs-small: 14px;
  --fs-middle: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
}

body[data-theme="light"] {
  color: black;
  background: white;
}

body[data-theme="dark"] {
  color: white;
  background: #202c37;;
}