<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
  <%- include('./partial/nav.ejs') %>
  <h1>Personal Blog</h1>
  <p>Build with Node.js Express, EJS, MongoDB</p>
</body>
</html>