h1, h2 {
  text-transform: uppercase; /*Все символы в тексте пишутся с заглавной буквы*/
  font-style: italic; /*Курсивное начертание*/
  font-size: 16px;
  border: 1px solid rgb(36, 210, 36);
}

h2 {
  color: green;
}


/*Простой селектор - *, определив такую конструкцию вы применяете
стиле ко всем элементам, которые находятся на странице. Они используются в основном
для обнуления или синхронизации базовых стилей различных браузеров*/
* {
    color: red;
}
/*Простой селектор - по имени, тем самым можем создать индивидуальный стиль
для параграфа и сделать его например зеленым. Если добавить много букв p в html, то он
будет применен ко всем параграфом.*/
p {
   color: green;
}

/*Для более точного описания стилизированного элемента применяется классы.
Элементы загаловка (h2) и span помеченно классом. Этот класс мы используем для
стилизации. */
.heading1 {
    text-decoration: underline;         /*Делает текст подчеркнутым*/
}
.heading2 {
    text-transform: uppercase;          /*Пишет все с заглавной буквы*/
}
/*Если мы хотим, чтобы стилей этого класса применились только к тегу параграфа, то достаточно просто указать букву p, который 
обозначает тег параграфа*/
p.fz20 {
    font-size: 20px;
}

/*Если мы хотим добавить стили по id, то необходимо написать # перед именем. 
Однако id должен быть уникальным, если вы хотите стилезировать одинаково и использовать
для этих целей, вы можете перчислить их через запятую*/
/*Увеличим шрифт до 40 пикселей и сделаем черную обводку*/
#heading,
#heading2 {
    font-size: 40px;            
    border: 1px solid #000;
}


/* Вес html тегов при добавление id, class и.т.д.
1. 1000 - Inline style
2. 100 - ID
3. 10 - Class, attribute, preudoclass
4. 1  - element, pseudoelement
Они определют вес селектора и подсказывает какие стили будут применены к элементу. */
q {
    color: blue;
}
/*Работает след.образом: найди на странице все теги q, после чего
проверь проверь, чтобы у этих тегов должен быть класс simple и после
этого измени их цвет*/
q.simple {
    color: aqua;
}

/*Работает след.образом: мы берем глобальную обертку body, и говорим,
что в нней должна быть цитата с классом simple и в этом случае ве селектора становится =12;
body(1)+q(1)+class=simple(10)*/
body q.simple {
    color: fuchsia;
}



h6,
span {
  color: red;
}

div p {
  color: green;
}

div p span {
  color: blue;
}

ul li > span {
  font-weight: bold;
}

ul li + li {
  color: aqua;
}

br ~ p {
  font-size: 30px;
}

a[target] {
  background-color: yellow;
}

a[target="_blank"] {
  background-color: blue;
}

a[href^="http://123"] {
  background-color: aqua;
}

a[href$=".jpg"] {
  background-color: teal;
}

a[href*="link"] {
  background-color: rebeccapurple;
}