h3,
h2 {
  text-align: center;
}
.static {
  border: 5px solid red;
  width: 50px; /*Ширина и высота контейнера*/
  height: 50px;
  min-width: 100px; /*Нужен для того, чтобы текст был внутри контейнера*/
  max-width: 300px;
  display: inline-block;
  box-sizing: border-box;
  /*Box-sizing - определяет как вычисляется общая ширина и высота элемента*/
  /*border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете 
    в ширине и высоте элемента. Если вы выставите элементу ширину 100 пикселей, то эти 100 пикселей будут включать 
    в себя границы и внутренние отступы, а контент сожмётся, чтобы выделить для них место. Обычно это упрощает работу
    с размерами элементов.*/
  position: static;
}

.relative {
  border: 5px solid indigo;
  width: 50px;
  height: 50px;
  min-width: 100px;
  max-width: 300px;
  top: 25px;
  left: 25px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.absolute {
  border: 5px solid grey;
  width: 50px;
  height: 50px;
  min-width: 100px;
  max-width: 300px;
  top: 300px;
  left: 40px;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
}

.fixed {
  border: 5px solid blue;
  width: 50px;
  height: 50px;
  min-width: 100px;
  max-width: 300px;
  top: 300px;
  left: 40px;
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
}

.static2 {
  position: static;
}

body {
  background: #f5f4f1;
}
form {
  background: #fff;
  width: 300px;
  margin: auto;
  padding: 30px 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
h2 {
  text-align: center;
  font-variant: small-caps;
}
.form-control {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}
.remember {
  text-align: right;
  font-style: italic;
}
button {
  background: #bc8e5c;
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
}

body {
  background: #f7f9fa;
}
section {
  width: 300px;
  font-family: Arial Helvetica, sans-serif;
  color: #777;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.content {
  text-align: center;
  padding: 10px 20px 20px;
}
.content h2 {
  color: #333;
  margin-top: 0;
  font-weight: normal;
}
.content h2::after {
  content: '';
  display: block;
  width: 30px;
  margin: 10px auto;
  border-bottom: 5px dotted #fd644a;
}
.content p {
  font-size: 0.8em;
}
.content button {
  background: #fd644a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px;
}

.block {
  background: #795548;
  padding: 10px;
  color: #fff;
  font-family: Arial, sans-serif;
}
.block h2 {
  color: #feea3b;
  overflow: hidden;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}
.block h2::before,
.block h2::after {
  content: '';
  background: #feea3b;
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.block h2::before {
  right: 10px;
  margin-left: -50%;
}
.block h2::after {
  left: 10px;
  margin-right: -50%;
}
