.button {
  border: 1px solid #918f8f;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 87px;
  padding: 4px;
  gap: 10px;
  color: var(--color);
  margin-left: 2rem;
}

.card {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 2rem;

    .wrapperImg {
      @media (max-width: 1200px) {
        display: grid;
        justify-content: center;
      }
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .image {
    max-width: 33rem;
    width: 100%;
  }

  .information {
    @media (max-width: 1200px) {
      display: grid;
      justify-content: center;
    }

    .title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .additional {
      display: flex;
      justify-content: space-between;
      gap: 7rem;

      @media (max-width: 1200px) {
        justify-content: normal;
      }

      .item {
        margin-bottom: 10px;
      }
    }
  }
}

.link {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.border {
  margin-top: 1rem;
}

.borderCountry {
  margin-left: 10px;
}
