* {
    box-sizing: border-box; 
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h2 {
    text-align: center;
}
.container1  { 
    display: flex;
}
.red {
    background: orangered;
    flex-grow: 1;                   /*Определяет как много свободного пространства во flex-контейнере должно быть назначено текущему элементу. 
По умолчанию: 0*/
}
.green {
    background: yellowgreen;
}
.blue {
    background: steelblue;
}
.blue1{
    background: steelblue;
    width: 40vw;                    /*Относительная единица измерения от окна браузера: 
Если высота окна браузера = 900px, то 1vh = 9px 
Если ширина окна браузера = 1600px, то 1vw = 16px*/
}

/*Селектор прямого потомка, мы говорим, что тег div внутри контейнера должена стать:...,*/
.container1 > div {
    font-size: 5vw;                 
    padding: .5em;                  /*Относительный шрифт родительского элемента: мы пишем 0.5. от родительского элемента*/
    color: white;
}



