#parent {
	display: grid;
	padding: 10px;
	border: 2px solid #696989;
}

#parent > div {
	padding: 10px;
	border: 1px solid #696989;
}

#elem1 {
	grid-column-start: 1;
}

#elem2 {
	grid-column-start: 2;
}

#elem3 {
	grid-column-start: 3;
}

#elemN1 {
	grid-column-start: -1;
}

#elemN2 {
	grid-column-start: -2;
}

#elemN3 {
	grid-column-start: -3;
}

#elemE1 {
	grid-column-start: 1;
	grid-column-end: 2;
}

#elemE2 {
	grid-column-start: 2;
	grid-column-end: 3;
}

#elemE3 {
	grid-column-start: 3;
	grid-column-end: 4;
}

#elemE4 {
	grid-column-start: 1;
	grid-column-end: 4;
}

#elemEn1 {
	grid-column-start: 1;
	grid-column-end: 2;
}
#elemEn2 {
	grid-column-start: 1;
	grid-column-end: 3;
}
#elemEn3 {
	grid-column-start: 1;
	grid-column-end: 4;
}